<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="animate-charcter">Task 1: Write a script that will match the condition shown in the figure in the tutorial</h1>  
        <h1 class="animate-charcter">Task 2: Write a script that calculates the area of a circle given radius using an external script. </h1>
    </div>
    </div>
</div>
   


<div id="marg" class="wrap">
    <button (click)="requestPersonalData()">
        First task
    </button>
    <button (click)="calculateCircleSquare()">
        Second task
    </button>
</div>
