<ul class="top">    
    <li>
        <div class="block">
            <img class="picture">
            <p class="name" (mouseover)="setImage(0, true)" (mouseout)="setDefaultImage(0, false)">Лев Толстой</p>
        </div>        
    </li>
    <li>
        <div class="block">
            <img class="picture">
            <div class="name" (mouseover)="setImage(1, true)" (mouseout)="setDefaultImage(1, false)">Александр Пушкин</div>
        </div>  
    </li>
    <li>
        <div class="block">
            <img class="picture">
            <div class="name" (mouseover)="setImage(2, true)" (mouseout)="setDefaultImage(2, false)">Николай Гоголь</div>
        </div>  
    </li>
    <li>
        <div class="block">
            <img class="picture">
            <div class="name" (mouseover)="setImage(3, true)" (mouseout)="setDefaultImage(3, false)">Федор Достоевский</div>
        </div>  
    </li>
    <li>
        <div class="block">
            <img class="picture">
            <div class="name" (mouseover)="setImage(4, true)" (mouseout)="setDefaultImage(4, false)">Антон Чехов</div>
        </div>  
    </li>
</ul>
<div id="slider">
        <img class="slide">
</div>