<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="animate-charcter">Task 1: Write a script that displays a dialog box with buttons
            "OK" and "Cancel" (function confirm) and displays a message in the browser window about
            which of the buttons was pressed (use the construction
            if(confirm("Message")) ... )</h1>  
        <h1 class="animate-charcter">Task 2: Write a script that requests last names and first names before
            until the user clicks the "Cancel" button in the input window. Surnames and
            names must be displayed in the browser window.</h1>
        </div>
    </div>
</div>
   

<div id="top" class="wrap">
    <button (click)="printButton()" class="glow-on-hover" >
        First task
    </button>
    <button (click)="printName()" class="glow-on-hover" >
        Second task
    </button>
</div>
<div id="wrapper">
    <div id="container">
        <p id="box"></p>
        <p id="fio"></p>
    </div>
</div>

