#top{    
    display: flex;
    justify-content: space-evenly;
}

#fio{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
}

h1{
    color: #367AF6;
    margin-top: 30px;
    height: 200px;
}

button{
    width: 300px;
    height: 300px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 20px;
    padding-top: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 30px;
    border: none;
     color: #fff;
     background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
}
.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #367AF6 0%,
    #364cf5 29%,
    #9f99f5 67%,
    #090274 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

body {
    background-color: #fdf9fd;
    color: #011a32;
    font: 16px/1.25 'Raleway', sans-serif;
    text-align: center;
}

#container{
    display: flex;
    margin-left: 250px;
    margin-top: 100px;  
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
    margin-top: 0px;

    height: 200px;
}

p {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
    color: #0f28b8;
}

p:hover {
    animation-play-state: paused;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}
