<body>
    <div class="container">
        <div>
            <div class="col-md-12 text-center">
                <h1 class="animate-charcter">Task: Write a script that, for a given date, determines how many days
                    passed after some event.
                    The questionnaire contains information about seven employees: last name, date
                    conclusion of a contract. Exactly eleven months after the start of work
                    Employees are granted leave of 24 working days.
                    Create a data entry form. Write a script that defines:
                    vacation start and end dates for each employee;
                    names of employees who will be granted leave in a given
                    month (month is selected by the user);
                    names of employees whose vacation will be completed in a given quarter
                    (number of the quarter is selected by the user);
                    names of employees who will be granted leave in the next
                    calendar year;</h1>
        </div>
        </div>
    </div>
    <div id="newcon">
    <div id="top">
        <form>
            <div class="forma">
                <div class="cell">Number employee</div>
                <div class="cell">Second Name</div>
                <div class="cell">The date conclusion of a contracr</div>
            </div>
        </form>
        <form #form1="ngForm">
            <div class="forma">
                <div class="cell">Employee 1</div>
                <input class="cell" type="text" ngModel name="secondName1">
                <input class="cell" type="text" ngModel name="date1">
            </div>
        </form>
        <form #form2="ngForm">
            <div class="forma">
                <div class="cell">Employee 2</div>
                <input class="cell" type="text" ngModel name="secondName2">
                <input class="cell" type="text" ngModel name="date2">
            </div>
        </form>
        <form #form3="ngForm">
            <div class="forma">
                <div class="cell">Employee 3</div>
                <input class="cell" type="text" ngModel name="secondName3">
                <input class="cell" type="text" ngModel name="date3">
            </div>
        </form>
        <form #form4="ngForm">
            <div class="forma">
                <div class="cell">Employee 4</div>
                <input class="cell" type="text" ngModel name="secondName4">
                <input class="cell" type="text" ngModel name="date4">
            </div>
        </form>
        <form #form5="ngForm">
            <div class="forma">
                <div class="cell">Employee 5</div>
                <input class="cell" type="text" ngModel name="secondName5">
                <input class="cell" type="text" ngModel name="date5">
            </div>
        </form>
        <form #form6="ngForm">
            <div class="forma">
                <div class="cell">Employee 6</div>
                <input class="cell" type="text" ngModel name="secondName6">
                <input class="cell" type="text" ngModel name="date6">
            </div>
        </form>
        <form #form7="ngForm">
            <div class="forma">
                <div class="cell">Employee 7</div>
                <input class="cell" type="text" ngModel name="secondName7">
                <input class="cell" type="text" ngModel name="date7">
            </div>
        </form>      
    </div>
    <form>
    <div id="column" class="animate-charcter">
        <p id="secondName"></p>
        <p id="schoolNumber"></p>
        <p id="overallScore"></p>
        <p id="group"></p>
    </div>
    </form>
    </div>
    <button></button>
    </body>
    