<body>
    <div class="container">
        <div>
            <div class="col-md-12 text-center">
                <h1 class="animate-charcter">Task: Write a script that, for a given date, determines how many days
                    passed after some event.
                    The questionnaire contains information about seven employees: last name, date
                    conclusion of a contract. Exactly eleven months after the start of work
                    Employees are granted leave of 24 working days.
                    Create a data entry form. Write a script that defines:
                    vacation start and end dates for each employee;
                    names of employees who will be granted leave in a given
                    month (month is selected by the user);
                    names of employees whose vacation will be completed in a given quarter
                    (number of the quarter is selected by the user);
                    names of employees who will be granted leave in the next
                    calendar year; Additional tasks: add external stylesheet (be sure to use Flex);
                    display employee data (list of employees) to a new
                    page using Local Storage or Session Storage.</h1>
            </div>
        </div>
    </div>
    <div id="newcon">
    <div id="top">
        <form>
            <div class="forma">
                <div class="cell">Number employee</div>
                <div class="cell">Second Name</div>
                <div class="cell">The date conclusion of a contract</div>
                <div class="cell">Vacation</div>
            </div>
        </form>
        <form [formGroup]="form1" class="form">
            <div class="forma">
                <div class="cell">Employee 1</div>
                <input class="cell" type="text"  formControlName="secondName">
                <input class="cell" type="date" formControlName="date">
                <div class="cell" formControlName="vacation">{{ form1.value.vacation }}</div>
            </div>
        </form>
        <form [formGroup]="form2">
            <div class="forma">
                <div class="cell">Employee 2</div>
                <input class="cell" type="text"  formControlName="secondName">
                <input class="cell" type="date" formControlName="date">
                <div class="cell" formControlName="vacation">{{ form2.value.vacation }}</div>
            </div>
        </form>
        <form [formGroup]="form3">
            <div class="forma">
                <div class="cell">Employee 3</div>
                <input class="cell" type="text"  formControlName="secondName">
                <input class="cell" type="date" formControlName="date">
                <div class="cell" formControlName="vacation">{{ form3.value.vacation }}</div>
            </div>
        </form>
        <form [formGroup]="form4">
            <div class="forma">
                <div class="cell">Employee 4</div>
                <input class="cell" type="text"  formControlName="secondName">
                <input class="cell" type="date" formControlName="date">
                <div class="cell" formControlName="vacation">{{ form4.value.vacation }}</div>
            </div>
        </form>
        <form [formGroup]="form5">
            <div class="forma">
                <div class="cell">Employee 5</div>
                <input class="cell" type="text"  formControlName="secondName">
                <input class="cell" type="date" formControlName="date">
                <div class="cell" formControlName="vacation">{{ form5.value.vacation }}</div>
            </div>
        </form>
        <form [formGroup]="form6">
            <div class="forma">
                <div class="cell">Employee 6</div>
                <input class="cell" type="text"  formControlName="secondName">
                <input class="cell" type="date" formControlName="date">
                <div class="cell" formControlName="vacation">{{ form6.value.vacation }}</div>
            </div>
        </form>
        <form [formGroup]="form7">
            <div class="forma">
                <div class="cell">Employee 7</div>
                <input class="cell" type="text"  formControlName="secondName">
                <input class="cell" type="date" formControlName="date">
                <div class="cell" formControlName="vacation">{{ form7.value.vacation }}</div>
            </div>
        </form>
        <form>
            <div class="forma1">
                <div class="cell">Month number</div>
                <div class="cell">Quarter</div>
            </div>
        </form>
        <form [formGroup]="form8">
            <div class="forma">
                <input class="cell" type="text" formControlName="monthNumber">
                <input class="cell" type="text" formControlName="kvartal">
            </div>
        </form>  
    </div>
    
    <form>
    <div id="column" class="animate-charcter">
        <p id="secondName">In selected month</p>
        <p id="kvartal">Ends in this quarter</p>
        <p id="year">In next year</p>
    </div>
    </form>
    </div>
    <button (click)="calculateVacation()">Calculate</button>
    </body>
    