<a [routerLink]="['/']">
    <h1>List of labs</h1>
  </a>
  <a [routerLink]="['/lab2']">
    <h1>Lab2</h1>
  </a>
  <a [routerLink]="['/lab3']">
    <h1>Lab3</h1>
  </a>
  <a [routerLink]="['/lab4']">
    <h1>Lab4</h1>
  </a>
  <a [routerLink]="['/lab5']">
    <h1>Lab5</h1>
  </a>
  <a [routerLink]="['/lab6']">
    <h1>Lab6</h1>
  </a>
  <a [routerLink]="['/lab7']">
    <h1>Lab7</h1>
  </a>
  <a [routerLink]="['/lab8']">
    <h1>Lab8</h1>
  </a>
  <a [routerLink]="['/lab9']">
    <h1>Lab9</h1>
  </a>
  <a [routerLink]="['/lab10']">
    <h1>Lab10</h1>
  </a>
  <a [routerLink]="['/lab10A']">
    <h1>Lab10A</h1>
  </a>


  